<div class="container-fluid">
  <div class="col-md-2">
    Nawigacja
  </div>
  <div class="col-md-10 box display-table-cell valign-top">
    <div class="row">
      <header class="nav-header" clearfix="true">
        <div class="col-md-5">
          <p><%= "Witaj w panelu administratora".upcase %></p>
        </div>
        <div class="col-md-7">
          <ul class="pull-right">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                <span class="label label-warning">3</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="label label-success">3</span>
              </a>
            </li>
            <li>
              <a href="#" class="link-decor-off">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </header>
    </div>
  </div>
</div>
