// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body,
html {
  font-family: "open sans", "Halvetica Neue", Halvetica, Arial, sans-serif;
  background: image-url("scuffedstatic_blue.jpg");
  background-size: cover;
  color: #247a7d;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.box {
  border: 1px rgb(222, 222, 222) solid;
}

.h100 {
  height: 100%;
}

.table-display {
  display: table;
  padding: 0;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  float: none;
}

.fa,
.glyphicon {
  font-size: 30px;
  color: #FF9800;
}

.link-decor-off,
.link-decor-off:hover {
  text-decoration: none;
  color: #e5ffe0;
}

.link-decor-off:hover {
  font-weight: bold;
}

.link-decor-off #logout{
  color: #247a7d;
}

.border-dark, td, th, tr{
  border: 1px solid black;
}

.admin-table-size {
  width: 85%;
}

.admin-table-style tr:nth-child(even) {
  background-color: #e6e6e6;
  color: #000;
}

.admin-table-style tr:nth-child(odd) {
  background-color: #757171;
  color: #000;
}

.admin-table-style tr:hover {
  background-color: #d79708;
  transition: background-color 0.3s ease-in-out;
}

.admin-table-style th {
  background-color: #373131;
  color: white;
}

.btn-booking {
  color: #1b1a1a;
  background-color: #ece2ba;
}

.right-pan-view {
  width: 85%;
  padding-top: 25px;
}

.right-pan-title {
  margin-top: 50px;
  color: #DC003A;
}

.right-pan-style {
  background-color: rgba(255, 219, 153, 0.65);
  width: 100%;
}

.nav-menu {
  background-color: rgba(158, 210, 159, 0.65);
  color: #e5ffe0;
}

.nav-menu h1 {
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.nav-list {
  list-style-type: none;
}

.wrapper {
  text-align: center;
}

.wrapper ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.wrapper li {
  // float: left;
  padding: 2px 5px;
}

.col-sm-9 {
  padding: 0;
}

.counter {
  padding: 15px;
  border-radius: 5px;
  background-color: black;
  font-size: 16px;
  color: #FF9800;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.valign-top {
  vertical-align: top;
}

.noborder tr td{
  border: none;
}
