/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 html, body{
   font-family: "open sans", "Halvetica Neue", Halvetica, Arial, sans-serif;
   background-color: #3AAFA9;
   color: rgb(255, 255, 255);
   height: 100%;
   font-size: 16px;
 }

 .glyphicon, .fa{
   font-size: 30px;
   color: #000;
 }

 .box{
   border: 1px rgb(222, 222, 222) solid;
 }

 #side-menu{
   background-color: rgb(16, 196, 127);
   padding: 0px;
 }

 #side-menu h1{
   color: rgb(0, 0, 0);
   text-align: center;
   margin: 10px 0px;
   font-size: 25px;
 }

 #side-menu ul{
   list-style: none;
   margin: 0px;
 }

 #side-menu a{
   padding: 12px 20px;
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-weight: bold;
   font-size: 16px;
   display: block;
 }

 .display-table{
   display: table;
   height: 100%;
   padding: 0px;
   width: 100%;
 }

 .display-table-row{
   display: table-row;
   height: 100%;
 }

 .display-table-cell{
   display: table-cell;
   float: none;
   height: 100%;
 }

 .valign-top{
   vertical-align: top;
 }

 .nav-header ul li{
   list-style: none;
   margin-left: 15px;
   float: left;
   padding: 17px;
 }
