<div class="hero-unit">

<h1>Usuwanie konta klienta</h1>

<%= form_for(:customer_del, :url=>{:action => "remove", :id => @customer_del.id}) do |field| %>

  <p style="color: white; font-weight: bold; font-size: 16px;">Czy napewno chcesz usunąc użytkownika: "<%= @customer_del.customer_nick %>"??</p>

  <div style="text-align: center;">
    <%= link_to("Wróć", {:action=>"index"}, :class => "btn btn-info") %>
    <%= submit_tag("Usuń użytkownika", :class => "btn btn-danger") %>
  </div>
<%end%>
</div>
